# Basic Operations

## Int

In [13]:
5 + 4 - 3

6

In [14]:
2 * (2 + 2)

8

In [15]:
0/0

ZeroDivisionError: division by zero

## Float

In [ ]:
4 + 1.69

In [16]:
0.56/0

ZeroDivisionError: float division by zero

# More numeric operations

### power

In [17]:
4**5

1024

### modulo operator

In [18]:
7%3

1

# String

In [19]:
"We love python!"
'The most popular general purpose programming language'

'The most popular general purpose programming language'

In [20]:
'Brian\'s mother: He\'s not the Messiah. He\'s a very naughty boy!'

"Brian's mother: He's not the Messiah. He's a very naughty boy!"

In [21]:
"""Me: Hi, there!
... She: Yes, please!"""

'Me: Hi, there!\nShe: Yes, please!'

## Escape sequence

In [22]:
print('Who\'s this?')

print('Interview\tBit')

print('Interview \bBit')

s = ['Hello','\x50','to','\x44','World']
print(s)

print(r"Hello\nWorld")

s = '\r\r\b InterviewBit \r\r\n  '
s.strip
print(s)

print("C:\Interview Bit\nScaler\aAcademy")
print(r"C:\Users\Dell\OneDrive\Desktop")

Who's this?
Interview	Bit
Interview Bit
['Hello', 'P', 'to', 'D', 'World']
Hello\nWorld


C:\Interview Bit
ScalerAcademy
C:\Users\Dell\OneDrive\Desktop

# Basic io

In [24]:
c = input("Give me your country name: ")

print('Name:', c, '\nPopulation: 156.6M')

Give me your country name: Bangladesh
Name: Bangladesh
Population: 156.6M

# String operation

## Concatenation

In [25]:
print("First string" + ", " + "second string")

First string, second string

## Repetition

In [26]:
print(10 * '5')

5555555555

## String formating

In [4]:
msg = "ex.1: {0}, ex.2: {1}, ex.3: {2}". format(420, 69, 420+69)
print(msg)

ex.1: 420, ex.2: 69, ex.3: 489

In [5]:
'{0}{1}{0}'.format('abra', 'cad')

'abracadabra'

In [6]:
#join
print(", ".join(["apple", "orange", "banana"]))

#replace
print("Hello Me".replace("Me", "world"))

#start, end
print("This is a sentence".startswith("This"))
print("This is a sentence".endswith("a"))

#case
print("This is a sentence.".upper())
print("AN ALL CAPS SENTENCE".lower())

#split
print("a, e, i, o, u".split(", "))

apple, orange, banana
Hello world
True
False
THIS IS A SENTENCE.
an all caps sentence
['a', 'e', 'i', 'o', 'u']

# Type conversion

In [6]:
int("123")

123

In [7]:
 int(12.3)

12

In [8]:
float(123)

123.0

In [9]:
str(123)

'123'

In [10]:
print("Float = " + str(10.5) + " Integer = " + str(50))

Float = 10.5 Integer = 50

# Variable

## Assignment

In [10]:
x = 3
print(x)
print(x+5)

3
8

## Reassignment

In [11]:
x = 10.5
print(x)
x = "Hello There"
print(x)

10.5
Hello There

In [12]:
user_input = input("Enter your birth year: ")
age = 2022 - int(user_input)
print("You are " + str(age) + " years old!")

Enter your birth year: 1333
You are 689 years old!

# Inplace operator

In [16]:
language = "Python"
language += "3"
print(language)

Python3